<div class="row">
	<h1 style="text-align: center;">Hi, <%= current_user.name %></h1>
	<p style="text-align: center;">Check out your tasks for the week</p>

	<%= render partial: "items/form" %>

	<% if current_user %>
			<div id="all_items">	
				<div class="twelve columns">
					<% if current_user.items.count < 1 %>
						<p>Make a to-do!</p>
					<% else %>
						<% current_user.items.each do |item| %>
							<%= render partial: 'items/item', locals: {item: item} %>
						<% end %>
					<% end %>
				</div>
			</div>
	<% end %>
</div>