<div class="row">
	<h1 style="text-align: center;">Hi, <%= current_user.name %></h1>
	<p style="text-align: center;">Check out your tasks for the week</p>

	<%= render partial: "items/form" %>

	<% if current_user %>
		<% @user_items.each do |item| %>
			<%= render partial: 'items/item', locals: { item: item } %>
		<% end %>
	<% end %>
</div>