<div class="twelve columns">
	<div class="row">
			<p style="margin: 0px;">New to-do:</p>
	</div>

	<%= form_for Item.new do |f| %>
		<div class="field">
			<%= f.text_field :name, autofocus: true, class: 'ten columns' %>
			<%= f.submit "&#10003;", class: 'two columns', style: 'background-color: #009933;' %>
		</div>
	<% end %>
</div>