<div class="twelve columns">
	<div class="row">
			<p style="margin: 0px;">New to-do:</p>
	</div>

	<%= form_for [current_user, Item.new] do |f| %>
		<div class="field">
			<%= f.text_field :name, autofocus: true, class: 'ten columns' %>
			<%= button_tag(type: 'submit', style: 'background-color: #009933;') do %>
				<%= fa_icon "plus", style: 'color: #FFF;' %>
			<% end %>
		</div>
	<% end %>
</div>