<div class="twelve columns">
 	<% if @user_items.count < 1 %>
 		<p>Make a to-do!</p>
 	<% else %>
 		<% @user_items.each do |item| %>
 			<%= button_tag(type: 'submit', style: 'background-color: #ff0000;') do %>
 				<%= fa_icon "minus", style: 'color: #FFF;' %>
 			<% end %>
 			<%= link_to "Delete", [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
 			<%= item.name %><br />
 		<% end %>
 	<% end %>
</div>